{% extends 'layouts/base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}
    <h1 class="text-center">Listado de productos</h1>
    <a href="{{ url_for('index')}}">Inicio</a>
        

    <a href="{{ url_for('crear_producto') }}">Nuevo Producto</a>

    <h1></h1>
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio de Venta</th>
                <th>Precio de Compra</th>
                <th>Ganancia</th>
                <th>Estado</th>
                <th>Operación</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <th>{{ producto[0] }}</th>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[2] }}</td>
                    <td>{{ producto[3] }}</td>
                    <td>{{ producto[4] }}</td>
                    <td>{{ producto[5] }}</td>
                    <td>
                        {% if producto[6] == 1 %}
                            Activo
                        {%else%}
                            Inactivo
                        {%endif%}
                    </td>
                    <td><a href="{{url_for('editar_registro', id = producto[0])}}" class="text-success">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


